# Database:
# NOTE: `$DATABASE_URL` defaults to `$DEVELOPMENT_DATABASE_URL` locally
# but it is injected into the production ENV using `$PRODUCTION_DATABASE_URL`.
export DEVELOPMENT_DATABASE_URL=postgresql://postgres:password@localhost:5432/development
export DATABASE_URL=$DEVELOPMENT_DATABASE_URL

# Secret ENV vars:
source_env_if_exists .envrc.local

# These should be defined by `.envrc.local` in order for everything in the
# monorepo to work as expected:
# env_vars_required FOO
