@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* https://github.com/dracula/dracula-theme  */
    --background: 40 42 54;
    --foreground: 248 248 242;
    --selection: 68 71 90;
    --comment: 98 114 164;
    --cyan: 139 233 253;
    --green: 80 250 123;
    --orange: 255 184 108;
    --pink: 255 121 198;
    --purple: 189 147 249;
    --red: 255 85 85;
    --yellow: 241 250 140;

    /* https://github.com/shadcn/ui/blob/main/apps/www/styles/globals.css */
    --primary: 189 147 249;
    --primary-foreground: 255 255 255;

    --secondary: 255 121 198;
    --secondary-foreground: 255 255 255;

    --accent: 57 60 77;
    --accent-foreground: 248 248 242;

    --destructive: 255 85 85;
    --destructive-foreground: 248 248 242;

    --muted: 57 60 77;
    --muted-foreground: 248 248 242;

    --card: 43 45 58;
    --card-foreground: 248 248 242;

    --popover: 43 45 58;
    --popover-foreground: 248 248 242;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-white/5;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }
}

/**
 * Scrollbar
 */

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: rgba(68, 71, 90, 0.2);
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(68, 71, 90, 0.5);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgba(68, 71, 90, 0.7);
}

*::-webkit-scrollbar-thumb:active {
  background-color: rgba(68, 71, 90, 0.9);
}

/**
 * Autofill
 */

input:-webkit-autofill {
  -webkit-text-fill-color: #f8f8f2;
  -webkit-box-shadow: 0 0 0px 1000px #282a36 inset;
  background-color: transparent !important;
}

input:-webkit-autofill:focus {
  -webkit-text-fill-color: #f8f8f2;
  -webkit-box-shadow: rgb(189, 147, 249) 0px 0px 0px 2px,
    0 0 0px 1000px #282a36 inset;
  background-color: transparent !important;
  caret-color: white;
}
